/* ===== Start Variables ===== */

:root {

    /* --- Font --- */
    --main-font: "Roboto", sans-serif;
    --second-font: "Source Sans 3", sans-serif;

    /* --- Colors --- */
    --main-color: #ff305b;
    --sec-bg-color: #f1f1f1;
    --head-color: #333;
    --txt-color: #555555;

    /* ---- Other ---- */
    --sec-py: 100px;
    --transition: 0.3s;

}

/* ===== End Variables ===== */


/* ===== Start Global Rukes ===== */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
}

.card {
    border: 0;
}

input,
textarea {
    outline: none;
    border: 0px;
}

.head-color {
    color: var(--head-color);
}

/* ===== End Global Rukes ===== */


/* ===== Start Global Components ===== */

.head-section {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.head-section .head-line {
    bottom: -10px;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: var(--main-color);
}

.head-section .head-line::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
    width: 55%;
    height: 1px;
    background-color: var(--main-color);
}

.head-section .head-line::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 55%;
    height: 1px;
    background-color: var(--main-color);
}

@media (min-width: 768px) {
    .head-section {
        font-size: 40px;
    }

    .head-section .head-line {
        width: 115px;
    }
}


/* ===== Start Global Components ===== */


/* ===== Start Navbar ===== */

.navbar .navbar-brand,
.navbar .navbar-nav .active,
.navbar .navbar-nav .nav-item:hover .nav-link {
    color: var(--main-color);
}

.navbar .navbar-nav .nav-item a:not(.active) {
    color: white;
}

.navbar .navbar-nav .nav-item .nav-link {
    transition: var(--transition);
}

/* ===== End Navbar ===== */


/* ===== Start Hero ===== */

#hero {
    background-image: linear-gradient(#000000be), url(/img/slider-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hero #hero-head {
    font-family: var(--second-font);
    font-size: 45px;
    color: var(--main-color);
}

#hero #hero-head::before {
    content: "Hello I'm";
    position: absolute;
    left: 50%;
    top: -26px;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
    font-weight: 600;
}

#hero #hero-para {
    font-size: 16px;
}

@media (min-width: 768px) {
    #hero #hero-head {
        font-size: 60px;
    }

    #hero #hero-head::before {
        font-size: 25px;
    }

    #hero #hero-para {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    #hero #hero-head {
        font-size: 70px;
    }

    #hero #hero-head::before {
        top: -29px;
        font-size: 26px;
    }
    
    #hero #hero-para {
        font-size: 23px;
    }
}

/* ===== End Hero ===== */


/* ===== Start About ===== */

#about {
    padding: var(--sec-py) 0px;
}

#about #about-img {
    border-radius: 3px;
}

#about #about-img img {
    width: 320px;
    transform: translate(10px, 10px);
    border-radius: 3px;
}

#about #about-head {
    color: var(--head-color);
}

#about #about-head::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5px;
    height: 80%;
    background-color: var(--main-color);
}

#about #about-para {
    color: var(--txt-color);
    border-bottom: 1px dotted var(--txt-color);
    line-height: 27px;
}

#about #data .data-set .data-set-txt {
    font-size: 14px;
    color: var(--txt-color);
}

#about #data .data-set-btns .btn {
    background-color: var(--main-color);
}


@media (min-width: 768px) {
    #about #about-img {
        border: 4px solid var(--txt-color);
    }

    #about #about-img img {
        width: 100%;
    }
}

@media (min-width: 992px) {
    #about #about-img {
        transform: translate(15px, 15px);
    }    
}

@media (min-width: 1200px) {
    #about #data .col-12 p {
        font-size: 16px;
    }  
}

/* ===== End About ===== */


/* ===== Start Services ===== */

#services {
    background-color: var(--sec-bg-color);
    padding: var(--sec-py) 0px;
}

#services .card {
    background-color: transparent;
    transition: var(--transition);
}

#services .card:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

#services .card .icon {
    color: var(--main-color);
}

#services .card:hover .icon i {
    transition: var(--transition);
}

#services .card:hover .icon i {
    transform: scale(1.1);
}

#services .card .card-text {
    line-height: 27px;
    color: var(--txt-color);
}

/* ===== End Services ===== */


/* ===== Start Portfolio ===== */

#portfolio {
    padding: var(--sec-py) 0px;
}

#portfolio #menu li {
    color: var(--head-color);
    transition: var(--transition);
}

#portfolio #menu li:first-of-type,
#portfolio #menu li:not(:first-of-type):hover {
    cursor: pointer;
    color: var(--main-color);
}

#portfolio .card figure .overlay {
    background-color: #0000005c;
    transition: var(--transition);
    opacity: 0;
    z-index: 0;
}

#portfolio .card i {
    color: var(--main-color);
    right: 15px;
    bottom: 25px;
    transition: var(--transition) 0.01s;
    opacity: 0;
    z-index: 1;
}

#portfolio .card:hover figure .overlay,
#portfolio .card:hover i{
    opacity: 1;
}

/* ===== End Portfolio ===== */


/* ===== Start Testimonial ===== */

#testimonial {
    padding: calc(var(--sec-py) / 1.4) 0;
    background-color: var(--sec-bg-color);
}

#testimonial .icon {
    height: 25px;
    color: var(--main-color);
}

#testimonial .icon~span {
    font-family: var(--second-font);
}

#testimonial span:last-of-type {
    color: var(--txt-color);
}

/* ===== End Testimonial ===== */


/* ===== Start Feedback ===== */

#feedback {
    padding: var(--sec-py) 0px;
}

#feedback .card-box {
    background: linear-gradient(139deg, var(--main-color), 0%, var(--main-color), 18%, var(--sec-bg-color), 18%, var(--sec-bg-color));
}

#feedback .card-box .card-image img {
    width: 100px;
}

#feedback .card-box .card-info h3,
#feedback .card-box .card-info .location {
    font-family: var(--second-font);
}

#feedback .card-box .card-info .location {
    color: var(--txt-color);
}

#feedback .card-box .card-info .card-text {
    color: var(--txt-color);
}

#feedback .carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
}

/* ===== End Feedback ===== */


/* ===== Start Blog ===== */

#blog {
    padding: var(--sec-py) 0px;
    background-color: var(--sec-bg-color);
}

#blog .card time {
    color: var(--txt-color);
}

#blog .card .card-title {
    font-family: var(--second-font);
}

#blog .card .card-text {
    color: var(--txt-color);
}

#blog .card .read-more {
    color: var(--head-color);
}

/* ===== End Blog ===== */


/* ===== Start Contact ===== */

#contact {
    padding: var(--sec-py) 0px;
}

#contact form .btn {
    background-color: var(--main-color);
}

#contact form input,
#contact form textarea {
    border: 1px solid #ccc;
}

#contact form textarea {
    min-height: 100px;
    max-height: 100px;
}

/* ===== End Contact ===== */


/* ===== Start Footer ===== */

#footer {
    padding: calc(var(--sec-py) / 1.5) 0px;
    background-color: var(--head-color);
}

#footer #social i {
    transition: var(--transition);
}

#footer #social i:hover {
    cursor: pointer;
    color: var(--main-color);
}

#footer p span {
    color: var(--main-color);
}

/* ===== End Footer ===== */

